*{
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
}
form label {
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}
label * {
    width: 250px;
    height: 30px;
    border: none;
    outline: 2px solid navy;
}
body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #c1c1c1;
    width: 50%;
}
.container:first-child{
    padding: 15px;
    justify-content: start;
    overflow-y: scroll;
}
table {
    border: 2px solid black !important;
}
thead {
    background-color: teal;
    color: white;
}
tbody {
    background-color: white;
}
.btnFordelete {
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
h1 {
    font-weight: 700;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media screen and (max-width: 600px) {
    body {
        flex-direction: column-reverse;
    }
    .container {
        width: 100%;
    }
    .container:first-child{
        padding: 25px;
        justify-content: start;
        overflow-y: scroll;
        transform: translateY(90deg);
    }
}
    
